<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>FILTER</title>
    <style>
        body {
            font-family: "monospace";
            font-size: medium;
        }
        table {
            border-collapse: collapse;
            text-align: center;
            margin: auto;
        }
        table td, table th {
            border: solid 1px #596573;
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Наименование</th>
        <th>Тип подразделения</th>
    </tr>
    <tr>
        <td>
            <input id="text" />
        </td>
        <td>
            <select id="digits">
                <option value="">---</option>
                <option value="123">123</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </td>
        <td>
            <input type="checkbox" id="place" value="Место работы" />Место работы
            <input type="checkbox" id="brigade" value="Бригада" />Бригада
            <input type="checkbox" id="division" value="Предприятие" />Предприятие
            <input type="checkbox" id="company" value="Подразделение" />Подразделение
            <input type="checkbox" id="holding" value="Холдинг" />Холдинг
        </td>
        <td>
            <select id="type">
                <option value="">---</option>
                <option value="Проходка">Проходка</option>
                <option value="Очистной забой">Очистной забой</option>
            </select>
        </td>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr>
        <td>1</td><td>123</td><td>Место работы</td><td>Проходка</td>
    </tr>
    <tr>
        <td>2</td><td>4</td><td>Холдинг</td><td>Проходка</td>
    </tr>
    <tr>
        <td>3</td><td>5</td><td>Холдинг</td><td>Очистной забой</td>
    </tr>
    <tr>
        <td>4</td><td>123</td><td>Предприятие</td><td>Проходка</td>
    </tr>
    </tbody>
</table>

<script src="../js/filter.js"></script>
<script>
    filterTable(document.getElementById("tbody"), {
            0: document.getElementById("text"),

            1: document.getElementById("digits"),

            2: new filterTable.Filter([ 
                    document.getElementById("place"),
                    document.getElementById("brigade"),
                    document.getElementById("division"),
                    document.getElementById("company"),
                    document.getElementById("holding")
                ],
                function (value, filters, i) {
                    if (false === filters[i].checked) return true;
                    return filters[0].checked && filters[0].value === value ||
                            filters[1].checked && filters[1].value === value ||
                            filters[2].checked && filters[2].value === value ||
                            filters[3].checked && filters[3].value === value ||
                            filters[4].checked && filters[4].value === value;
                }
            ),

            3: document.getElementById("type"),
        }
    );
</script>

</body>
</html>