body{
        overflow-y: inherit;
}

.container-fluid{
    background-color:#7eecf2;
    height: 68px;
    color:white;
    
}
.imgpos{
    background: #596573;
    margin-left: -12px;
    margin-top: -4px;
    width:100px;
    height:68px;
}
.ul{
    color:white;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    text-decoration: none;

}

.btn_login{
    color:white;
}
.title{
    font-size: 20pt;
    padding-left: 30px;
    font-weight: 550;
    cursor:default;
}

ul {
    margin-top: unset;
    margin-bottom: 1rem;
}
img{
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 auto;
}
li{
    cursor: pointer;
}
.trap{
    max-height: 63vh;
    overflow-y: inherit;
}
.trap_edit{
    height: auto;
    overflow-y: auto;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.container_information{
    width: 100%;
    padding-left: 100px;
    max-height: 100vh;
}

.guides{
    width: 100%;
    border-color: #7eecf2;
    height:40px;
}
.btn_find{
    border-color:#7eecf2;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    float: right;
    color:darkgreen;
}
.back_title_guide{
    background-color: #596573;
    margin-top: 10px;
    width: 100%;
    height: 35px;
}
.title_guide{
    color:white;
    margin-left: 20px;
}

.add_pos{
    width: 35px;
    height: 35px;
}
.img_add{
    height: 35px;
    max-width: 100%;
    border: none;
    background: none;
 
}
.back_title_element{
    background-color: #596573;
    width: 100%;
    height: 35px;
}
.title_element{
    color:white;
    margin-left: 20px;
}
.row{
    max-width: 100%;
}

.edit {
    display:none;
}
.arg_edit{
    font-weight: bold;
    font-size: 13px;
    cursor: default;
}
.input_tag{
    width: 100%;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}
.input_find{
    border-color:#7eecf2;
    margin-top: 10px;
    background-color: white;
    width:100%;
}
.arg_field{
    cursor: default;
}

.loading {
    display: none;
}

table {
    width: 100%;
    height: 100%;
    color: black;
    line-height: 1.0;
    font-family: "monospace";
    background: white;
    border-collapse: collapse;
    border: 1px solid #F6F6F6;
    box-shadow: 0.4em 0.4em 12px rgba(122,122,122,0.5);
}
        
tr {
    border: 1px solid #F6F6F6;
}

th {
    font-size: small;
    padding: 10px;
    color: white;
    background: #596573;
    border: 1px solid #F6F6F6;
}

td {
    font-size: small;
    padding: 5px 7px;
}

.first {
    text-align: center;
    color: white;
    border: 1px solid #F6F6F6;
}
#view {
    overflow-y: auto;
    max-height: 100%;
    
}
